/* lato-regular - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: url('Lato/lato.woff2') format('woff2'),    /* Super Modern Browsers */
         url('Lato/lato.woff') format('woff'),      /* Modern Browsers */
         url('Lato/lato.ttf') format('truetype');   /* Safari, Android, iOS */
  }
  /* lato-italic - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;
    src: url('Lato/lato-italic.woff2') format('woff2'),     /* Super Modern Browsers */
         url('Lato/lato-italic.woff') format('woff'),       /* Modern Browsers */
         url('Lato/lato-italic.ttf') format('truetype');    /* Safari, Android, iOS */
  }
  /* lato-bold - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    src: url('Lato/lato-bold.woff2') format('woff2'),        /* Super Modern Browsers */
         url('Lato/lato-bold.woff') format('woff'),          /* Modern Browsers */
         url('Lato/lato-bold.ttf') format('truetype');       /* Safari, Android, iOS */
  }
  /* lato-bolditalic - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: bold;
    src: url('Lato/lato-bolditalic.woff2') format('woff2'),  /* Super Modern Browsers */
         url('Lato/lato-bolditalic.woff') format('woff'),    /* Modern Browsers */
         url('Lato/lato-bolditalic.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  * {
	font-family: Lato;
}